#video {
  padding-bottom: 3rem;
}

.center {
  display: grid;
  place-items: center;
}

.grid-content {
  padding: 2vh;
  text-align: center;
  background-color: var(--color4);
  font-family: var(--brødtekst);
  color: var(--color1);
}

.hidden {
  display: none;
}

.grid-container {
  column-gap: 0px;
  row-gap: 0px;
  grid-template-columns: auto;
}

body {
  background-color: var(--color1);
  margin: 0%;
}

footer {
  font-family: var(--brødtekst);
  font-size: 110%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.tekst {
  font-family: var(--brødtekst);
  margin: 1%;
}

.overskrift {
  color: var(--gray1);
  font-family: var(--overskrift);
  margin: 1%;
  font-size: 170%;
}

.main {
  font-size: 2vh;
}

.backdrop {
  background-color: var(--color3);
  border-radius: 20px;
  height: auto;
  margin: 5%;
  height: 80%;
  overflow: hidden;
  position: relative;
}

.link {
  color: var(--green1) !important;
}

.hide {
  display: none;
}

.myDIV:hover+.hide {
  display: flex;
}

#noctua {
  margin-top: -124px;
}

#git {
  width: 10vh;
  margin-left: 1%;
}

#mail {
  width: 10vh;
}

#logo {
  float: right;
  margin: 1% 1% 0% 0%;
  width: 11vh;
}

.backdrop #logo {
  display: flex;
}

@media (max-width: 1300px) {
  #pic {
    width: 20vh;
  }

  #git {
    width: 10vh;
  }

  #mail {
    width: 10vh;
  }
}