:root {
    --color1: #fff7e3;
    --color2: #F4DFC8;
    --color3: #739072;
    --color4: #4F6F52;
    --color5: #3A4D39;
    --overskrift: Verdana, Geneva, Tahoma, sans-serif;
    --brødtekst: "Rubik", sans-serif;
}